/venv/
/examples/platform_tutorial/01_open_window.py
/examples/platform_tutorial/02_draw_sprites.py
/examples/platform_tutorial/03_user_control.py
/examples/platform_tutorial/04_add_gravity.py
/examples/platform_tutorial/05_scrolling.py
/examples/platform_tutorial/06_coins_and_sound.py
/examples/platform_tutorial/07_score.py
/examples/platform_tutorial/08_load_map.py
/examples/platform_tutorial/09_endgame.py
/examples/platform_tutorial/10_ladders_and_more.py
/examples/platform_tutorial/11_animate_character.py
/examples/pymunk_platformer/__init__.py
/examples/__init__.py
/examples/array_backed_grid.py
/examples/array_backed_grid_buffered.py
/examples/array_backed_grid_sprites.py
/examples/array_backed_grid_sprites_1.py
/examples/array_backed_grid_sprites_2.py
/examples/astar_pathfinding.py
/examples/asteroid_smasher.py
/examples/background_music.py
/examples/bloom_defender.py
/examples/bouncing_ball.py
/examples/bouncing_balls.py
/examples/bouncing_rectangle.py
/examples/pyinstaller/build-exe.py
/examples/pymunk_platformer/constants.py
/examples/pymunk_platformer/create_level.py
/examples/decorator_drawing_example.py
/examples/drawing_primitives.py
/examples/drawing_text.py
/examples/drawing_with_functions.py
/examples/drawing_with_loops.py
/examples/dual_stick_shooter.py
/examples/frametime_plotter.py
/examples/full_screen_example.py
/examples/gradients.py
/examples/gui_custom_style.py
/examples/gui_elements.py
/guy.png
/guy.py
/examples/happy_face.py
/examples/joystick.py
/examples/light_demo.py
/examples/line_of_sight.py
/examples/lines_buffered.py
/examples/pymunk_platformer/main_window.py
/examples/maze_depth_first.py
/examples/maze_recursive.py
/examples/mini_map_defender.py
/examples/mountains_midpoint_displacement.py
/examples/mountains_random_walk.py
/examples/move_joystick.py
/examples/move_keyboard.py
/examples/move_mouse.py
/examples/nested_loops_bottom_left_triangle.py
/examples/nested_loops_bottom_right_triangle.py
/examples/nested_loops_box.py
/examples/nested_loops_top_left_triangle.py
/examples/nested_loops_top_right_triangle.py
/examples/particle_fireworks.py
/examples/particle_stress.py
/examples/particle_systems.py
/examples/perlin_noise_1.py
/examples/perlin_noise_2.py
/examples/pymunk_platformer/physics_utility.py
/examples/platformer.py
/examples/procedural_caves_bsp.py
/examples/procedural_caves_cellular.py
/examples/pymunk_apples.py
/examples/pymunk_box_stacks.py
/examples/pymunk_joint_builder.py
/examples/pymunk_pegboard.py
/examples/radar_sweep.py
/examples/resizable_window.py
/examples/resources.py
/examples/pyinstaller/sample.py
/examples/shape_list_demo_1.py
/examples/shape_list_demo_2.py
/examples/shape_list_demo_3.py
/examples/shape_list_demo_person.py
/examples/shape_list_demo_skylines.py
/examples/shape_list_non_center_rotate.py
/examples/shapes.py
/examples/shapes_buffered.py
/examples/shapes_buffered_2.py
/examples/slime_invaders.py
/examples/snow.py
/examples/sound_demo.py
/examples/sound_example.py
/examples/sound_test.py
/examples/sprite_bouncing_coins.py
/examples/sprite_bullets.py
/examples/sprite_bullets_aimed.py
/examples/sprite_bullets_enemy_aims.py
/examples/sprite_bullets_periodic.py
/examples/sprite_bullets_random.py
/examples/sprite_change_coins.py
/examples/sprite_collect_coins.py
/examples/sprite_collect_coins_background.py
/examples/sprite_collect_coins_diff_levels.py
/examples/sprite_collect_coins_move_bouncing.py
/examples/sprite_collect_coins_move_circle.py
/examples/sprite_collect_coins_move_down.py
/examples/sprite_collect_coins_with_stats.py
/examples/sprite_collect_rotating.py
/examples/sprite_collect_solid.py
/examples/sprite_enemies_in_platformer.py
/examples/sprite_explosion_bitmapped.py
/examples/sprite_explosion_particles.py
/examples/sprite_face_left_or_right.py
/examples/sprite_follow_simple.py
/examples/sprite_follow_simple_2.py
/examples/sprite_move_angle.py
/examples/sprite_move_animation.py
/examples/sprite_move_joystick.py
/examples/sprite_move_keyboard.py
/examples/sprite_move_keyboard_accel.py
/examples/sprite_move_keyboard_better.py
/examples/sprite_move_scrolling.py
/examples/sprite_move_walls.py
/examples/sprite_moving_platforms.py
/examples/sprite_no_coins_on_walls.py
/examples/sprite_properties.py
/examples/sprite_ramps.py
/examples/sprite_rooms.py
/examples/sprite_tiled_map.py
/examples/sprite_tiled_map_with_levels.py
/examples/starting_template.py
/examples/starting_template_simple.py
/examples/perf_test/stress_test_charts.py
/examples/perf_test/stress_test_collision_arcade.py
/examples/perf_test/stress_test_collision_pygame.py
/examples/perf_test/stress_test_draw_moving_arcade.py
/examples/perf_test/stress_test_draw_moving_pygame.py
/examples/perf_test/stress_test_draw_shapes.py
/examples/tetris.py
/examples/text_loc_example_done.py
/examples/text_loc_example_start.py
/examples/texture_transform.py
/examples/timer.py
/examples/tmx_object_demo.py
/examples/transform_feedback.py
/examples/view_instructions_and_game_over.py
/examples/view_pause_screen.py
/examples/view_screens_minimal.py
